
{% block body %}
<div>{{"error.not_found"|trans}}</div>
<div class="response">
{{ status_code }} {{ status_text }}
</div>
<br>
	{% if status_code == 500 %}
		<a href="{{ path('fos_user_security_logout') }}"><button class="button">{{"error.desfibrilar"|trans}}</button></a>
	{% else %}
		<a href="javascript:history.back()"><button class="button">{{"error.volver"|trans}}</button></a>
	{% endif %}
{% endblock %}
