{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">{{"admin.blogs"|trans}}</h4>
                        <p class="card-category">{{"admin.estadisticas"|trans}}</p>
                    </div>
                    <div class="card-body ">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> {{"admin.plastica"|trans}}
                            <i class="fa fa-circle text-danger"></i> {{"admin.informacion"|trans}}
                            <i class="fa fa-circle text-warning"></i> {{"admin.tendencias"|trans}}
                            <i class="fa fa-circle text-primary"></i> {{"admin.otros"|trans}}
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-th"></i> {{"admin.blogs_publicados"|trans}}: {{blogs}}<br>
                            <i class="fa fa-clock-o"></i> {{"admin.ultimo_blog_hace"|trans}} {{days}} {{"admin.dias"|trans}} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">{{"admin.traduccion_pagina"|trans}}</h4>
                        <p class="card-category">{{"admin.todos_procedimientos"|trans}}</p>
                    </div>
                    <div class="card-body ">
                        <div id="chartActivity" class="ct-chart"></div>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> {{"admin.espanol"|trans}}
                            <i class="fa fa-circle text-danger"></i> {{"admin.english"|trans}}
                            <i class="fa fa-circle text-warning"></i> {{"admin.portugues"|trans}}
                            <i class="fa fa-circle text-primary"></i> {{"admin.italiano"|trans}}
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> {{"admin.traduccion_revisada"|trans}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Pacientes</h4>
                        <p class="card-category">Pacientes nuevos</p>
                    </div>
                    <div class="card-body ">
                        <div id="pacientes" class="ct-chart"></div>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Suscritos
                            <i class="fa fa-circle text-danger"></i> Cancela Suscripción
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Actualización diaria
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffranklinalvear.cirujanoplastico%2F&tabs=timeline&width=400&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1522670851135903" width="500" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col-md-6">
                <a class="twitter-timeline" data-width="500" data-height="800" data-dnt="true" data-theme="clear" data-link-color="#19CF86" href="https://twitter.com/dr_franklear?ref_src=twsrc%5Etfw">{{"admin.tweets_por"|trans}} dr_franklear</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('.dashboard').addClass('nav-item active');
    $('.navbar-brand').text('{{"admin.panel_control"|trans}}');
</script>
<script type="text/javascript">
    $().ready(function() {
        $sidebar = $('.sidebar');
        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
            if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                $('.fixed-plugin .dropdown').addClass('show');
            }

        }

        $('.fixed-plugin a').click(function(event) {
            if ($(this).hasClass('switch-trigger')) {
                if (event.stopPropagation) {
                    event.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
            }
        });

        $('.fixed-plugin .background-color span').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
                $sidebar.attr('data-color', new_color);
            }

            if ($full_page.length != 0) {
                $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
                $sidebar_responsive.attr('data-color', new_color);
            }
        });

        $('.fixed-plugin .img-holder').click(function() {
            $full_page_background = $('.full-page-background');

            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').addClass('active');


            var new_image = $(this).find("img").attr('src');

            if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                $sidebar_img_container.fadeOut('fast', function() {
                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $sidebar_img_container.fadeIn('fast');
                });
            }

            if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                $full_page_background.fadeOut('fast', function() {
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    $full_page_background.fadeIn('fast');
                });
            }

            if ($('.switch-sidebar-image input:checked').length == 0) {
                var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            }

            if ($sidebar_responsive.length != 0) {
                $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
            }
        });

        $('.switch input').on("switchChange.bootstrapSwitch", function() {

            $full_page_background = $('.full-page-background');

            $input = $(this);

            if ($input.is(':checked')) {
                if ($sidebar_img_container.length != 0) {
                    $sidebar_img_container.fadeIn('fast');
                    $sidebar.attr('data-image', '#');
                }

                if ($full_page_background.length != 0) {
                    $full_page_background.fadeIn('fast');
                    $full_page.attr('data-image', '#');
                }

                background_image = true;
            } else {
                if ($sidebar_img_container.length != 0) {
                    $sidebar.removeAttr('data-image');
                    $sidebar_img_container.fadeOut('fast');
                }

                if ($full_page_background.length != 0) {
                    $full_page.removeAttr('data-image', '#');
                    $full_page_background.fadeOut('fast');
                }

                background_image = false;
            }
        });
    });

    demo = {

        initDashboardPageCharts: function() {

            var dataPreferences = {
                series: [
                    [25, 30, 20, 25]
                ]
            };

            var optionsPreferences = {
                donut: true,
                donutWidth: 40,
                startAngle: 0,
                total: 100,
                showLabel: false,
                axisX: {
                    showGrid: false
                }
            };

            Chartist.Pie('#chartPreferences', dataPreferences, optionsPreferences);

            Chartist.Pie('#chartPreferences', {
                labels: ['{{plastica}}%', '{{informacion}}%', '{{tendencias}}%', '{{otros}}%'],
                series: [{{plastica}}, {{informacion}}, {{tendencias}}, {{otros}}]
            });


            var data = {
                labels: ['{{"admin.ambulatorio"|trans}}', '{{"admin.rostro"|trans}}', '{{"admin.busto"|trans}}', '{{"admin.corporal"|trans}}', '{{"admin.femenina"|trans}}', '{{"admin.masculina"|trans}}'],
                series: [
                    [3, 9, 3, 6, 3, 3],
                    [3, 9, 3, 6, 3, 3],
                    [3, 9, 3, 6, 3, 3],
                    [3, 9, 3, 6, 3, 3]
                ]
            };

            var options = {
                seriesBarDistance: 10,
                axisX: {
                    showGrid: false
                },
                height: "245px"
            };

            var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                    seriesBarDistance: 5,
                    axisX: {
                        labelInterpolationFnc: function(value) {
                            return value[0];
                        }
                    }
                }]
            ];

            var chartActivity = Chartist.Bar('#chartActivity', data, options, responsiveOptions);

        }

    }
    demo.initDashboardPageCharts();

    //Pacientes chart
    var dataSales = {
      labels: [{% for paciente in pacientes %}{% if loop.last %}'{{paciente[3]}}'{% else %}'{{paciente[3]}}', {% endif %}{% endfor %}],
      series: [
         [{% for paciente in pacientes %}{% if loop.last %}{{paciente[1]}}{% else %}{{paciente[1]}}, {% endif %}{% endfor %}],
        [{% for paciente in pacientes %}{% if loop.last %}{{paciente[2]}}{% else %}{{paciente[2]}}, {% endif %}{% endfor %}]
      ]
    };

    var optionsSales = {
      lineSmooth: false,
      low: 0,
      high: 5,
      showArea: true,
      height: "245px",
      axisX: {
        showGrid: false,
      },
      lineSmooth: Chartist.Interpolation.simple({
        divisor: 3
      }),
      showLine: false,
      showPoint: false,
    };

    var responsiveSales = [
      ['screen and (max-width: 640px)', {
        axisX: {
          labelInterpolationFnc: function (value) {
            return value[0];
          }
        }
      }]
    ];

    Chartist.Line('#pacientes', dataSales, optionsSales, responsiveSales);
</script>
{% endblock %}
