{% extends 'AdminBundle:Default:admin.html.twig' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Preparar Newsletter</h4>
                        <p class="card-category">Revisa y envía newsletter mensual</p>
                    </div>
                    <div class="card-body ">
                        <a href="{{ path ('newsletter_prepare') }}"><button type="button" class="btn btn-info btn-fill pull-left">Entrar</button></a>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Preparar Correo Promocional</h4>
                        <p class="card-category">Revisa y envía Correo promocional</p>
                    </div>
                    <div class="card-body ">
                        <a href="#"><button type="button" class="btn btn-info btn-fill pull-left">Entrar</button></a>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Preparar Correo Personal</h4>
                        <p class="card-category">Revisa y envía Correo personal</p>
                    </div>
                    <div class="card-body ">
                        <a href="#"><button type="button" class="btn btn-info btn-fill pull-left">Entrar</button></a>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Listado de pacientes</h4>
                        <p class="card-category">Pacientes registrados</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>{{"admin.id"|trans}}</th>
                                <th>Email</th>
                                <th>Suscripción activa</th>
                                <th>Fecha</th>
                            </thead>
                            <tbody>
                                {% for paciente in pacientes %}
                                <tr>
                                    <td>{{paciente.id}}</td>
                                    <td>{{paciente.email}}</td>
                                    {% if paciente.isSubscribed == 1 %}
                                        <td>Subscribed</td>
                                    {% else %}
                                        <td>Unsubscribed</td>
                                    {% endif %}
                                    <td>{{paciente.fecha|date('d-m-Y')}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Pagerfanta -->
                {% if pager is not null and pager.haveToPaginate %}
                    <ul class="pagination justify-content-center">
                        {{ pagerfanta(pager, 'twitter_bootstrap4', {
                            'proximity': 2,
                            'routeName': 'admin_mails_paginated',
                            'routeParams': app.request.query.all,
                            'prev_message': '<i class="fa fa-angle-left"></i>',
                            'next_message': '<i class="fa fa-angle-right"></i>'
                        }) }}
                    </ul>
                {% endif %}
                <!-- /Pagerfanta -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('.mails').addClass('nav-item active');
    $('.navbar-brand').text('{{"admin.mails"|trans}}');
</script>
{% endblock %}