{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Bichectomía</title>
{% endblock %}

{% block keywords %}
Bichectomía, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La bolsa adiposa de Bichat es una acumulación de grasa ubicada entre el músculo masetero y el músculo bucinador, a ambos lados de la cara.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Bichectomía">
<meta itemprop="description" content="La bolsa adiposa de Bichat es una acumulación de grasa ubicada entre el músculo masetero y el músculo bucinador, a ambos lados de la cara.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/bichectomia-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Bichectomía">
<meta name="twitter:description" content="La bolsa adiposa de Bichat es una acumulación de grasa ubicada entre el músculo masetero y el músculo bucinador, a ambos lados de la cara.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/bichectomia-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Bichectomía" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/bichectomia-service01.jpg" />
<meta property="og:description" content="La bolsa adiposa de Bichat es una acumulación de grasa ubicada entre el músculo masetero y el músculo bucinador, a ambos lados de la cara." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Bichectomía",
        "mpn": "franklin-352",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/bichectomia-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/bichectomia-service02.jpg"
        ],
        "description": "La bolsa adiposa de Bichat es una acumulación de grasa ubicada entre el músculo masetero y el músculo bucinador, a ambos lados de la cara.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.6",
            "reviewCount": "74"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "400.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/bichectomia",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Bichectomía</h1>
                <p class="lead text-muted">Extracción de las Bolsas de Bichat</p>
                <p class="lead">La bolsa adiposa de Bichat es una acumulación de grasa ubicada entre el músculo masetero y el músculo bucinador, a ambos lados de la cara. Estos dos músculos que permiten los movimientos de masticación necesitan de una almohadilla grasa de lubricación que es la bolsa de Bichat.</p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/bichectomia-service01.jpg') }}" class="figure-img rounded" alt="Bichectomia antes">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/bichectomia-service02.jpg') }}" class="figure-img rounded" alt="Bichectomia despues">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">Aunque todas las personas las poseen, en algunos casos estos cojines grasos se desarrollan de manera exagerada dando como resultado un rostro demasiado redondo y abultado. Se hace necesario entonces realizar un adelgazamiento mediante la reducción de las bolsas de Bichat. </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">El volumen de esta grasa no necesariamente está relacionado con el peso corporal, y es por esto que muchas personas delgadas pueden presentar un rostro extendido y grueso que no corresponde a su peso corporal. </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>El adelgazamiento facial mediante la resección de las bolsas de Bichat reduce el volumen de las mejillas brindando un aspecto de mayor carácter, lozanía y naturalidad.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Bichectomía</h5>
                            <span class="caption text-muted">Extracción de las Bolsas de Bichat</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>400 - <span>$</span>600</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Materiales e insumos médicos</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *Es un procedimiento ambulatorio, no se requiere centro quirúrgico por lo tanto no se añade ningún valor adicional.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}