{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Blefaroplastia</title>
{% endblock %}

{% block keywords %}
Blefaroplastia, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
El objetivo de la blefaroplastia es devolver al párpado un aspecto más juvenil, manteniendo los rasgos propios de cada persona, manteniendo un aspecto natural, evitando cicatrices visibles y protegiendo la salud ocular.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Blefaroplastia">
<meta itemprop="description" content="El objetivo de la blefaroplastia es devolver al párpado un aspecto más juvenil, manteniendo los rasgos propios de cada persona, manteniendo un aspecto natural, evitando cicatrices visibles y protegiendo la salud ocular.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/blefaroplastia-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Blefaroplastia">
<meta name="twitter:description" content="El objetivo de la blefaroplastia es devolver al párpado un aspecto más juvenil, manteniendo los rasgos propios de cada persona, manteniendo un aspecto natural, evitando cicatrices visibles y protegiendo la salud ocular.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/blefaroplastia-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Blefaroplastia" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/blefaroplastia-service01.jpg" />
<meta property="og:description" content="El objetivo de la blefaroplastia es devolver al párpado un aspecto más juvenil, manteniendo los rasgos propios de cada persona, manteniendo un aspecto natural, evitando cicatrices visibles y protegiendo la salud ocular." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Blefaroplastia",
        "productId": "franklin-353",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/blefaroplastia-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/blefaroplastia-service02.jpg"
        ],
        "description": "El objetivo de la blefaroplastia es devolver al párpado un aspecto más juvenil, manteniendo los rasgos propios de cada persona, manteniendo un aspecto natural, evitando cicatrices visibles y protegiendo la salud ocular.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "reviewCount": "113"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "400.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/blefaroplastia",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Blefaroplastia</h1>
                <p class="lead text-muted">Cirugía de los párpados</p>
                <p class="lead">El objetivo de la blefaroplastia es devolver al párpado un aspecto más juvenil, manteniendo los rasgos propios de cada persona, manteniendo un aspecto natural, evitando cicatrices visibles y protegiendo la salud ocular. La evolución de las técnicas quirúrgicas en los últimos años ha sido fruto del mejor conocimiento de los procesos de envejecimiento facial.</p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/blefaroplastia-service01.jpg') }}" class="figure-img rounded" alt="Blefaroplastia antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/blefaroplastia-service02.jpg') }}" class="figure-img rounded" alt="Blefaroplastia después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">En el párpado superior se caracterizan fundamentalmente por un exceso y descolgamiento de la piel del párpado, que ocasiona una alteración estética pero que en algunos casos provoca también una alteración del campo visual del paciente y fatiga ocular por el peso que el exceso de piel representa para el párpado.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">En el párpado inferior, la laxitud de las estructuras fibrotendinosas que aparece con la edad provoca fundamentalmente dos cambios a nivel palpebral. Por un lado, la grasa orbitaria, que ocupa gran parte de la órbita, se hernia hacia adelante, haciéndose visible en la piel y dando lugar a las coloquialmente conocidas “bolsas”. En segundo lugar, el estiramiento y descolgamiento de la piel, músculo orbicular y tendones de los párpados dan lugar a arrugas, pliegues y un descenso del párpado inferior. </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>La blefaroplastia del párpado superior consiste en la eliminación del exceso de piel y en algunos casos de una parte del músculo orbicular subyacente. Algunos casos requieren también eliminar parte del paquete graso interno, pero siempre de forma conservadora. Para esta cirugía se realizan incisiones en los pliegues naturales del párpado, que evitan la visibilidad de las cicatrices. En la blefaroplastia inferior debemos distinguir entre el tratamiento de las bolsas y el tratamiento de la laxitud y arrugas de la piel.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Blefaroplastia</h5>
                            <span class="caption text-muted">Cirugía de los párpados</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>400 - <span>$</span>600</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Materiales e insumos médicos</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *Es un procedimiento ambulatorio, no se requiere centro quirúrgico por lo tanto no se añade ningún valor adicional.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}