{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Braquioplastia</title>
{% endblock %}

{% block keywords %}
Braquioplastia, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La braquioplastia es una operación para tratar la flacidez y el exceso de grasa de la cara interna de los brazos.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Braquioplastia">
<meta itemprop="description" content="La braquioplastia es una operación para tratar la flacidez y el exceso de grasa de la cara interna de los brazos.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/braquioplastia-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Braquioplastia">
<meta name="twitter:description" content="La braquioplastia es una operación para tratar la flacidez y el exceso de grasa de la cara interna de los brazos.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/braquioplastia-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Braquioplastia" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/braquioplastia-service01.jpg" />
<meta property="og:description" content="La braquioplastia es una operación para tratar la flacidez y el exceso de grasa de la cara interna de los brazos." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Braquioplastia",
        "productId": "franklin-354",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/braquioplastia-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/braquioplastia-service02.jpg"
        ],
        "description": "La braquioplastia es una operación para tratar la flacidez y el exceso de grasa de la cara interna de los brazos.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.2",
            "reviewCount": "25"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "1500.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/braquioplastia",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Braquioplastia</h1>
                <p class="lead text-muted">Lifting de brazos</p>
                <p class="lead">La braquioplastia es una operación para tratar la flacidez y el exceso de grasa de la cara interna de los brazos. Con el paso de los años o tras haber perdido mucho peso, la piel de los brazos puede dar un aspecto de flacidez. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/braquioplastia-service01.jpg') }}" class="figure-img rounded" alt="Braquioplastia antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/braquioplastia-service02.jpg') }}" class="figure-img rounded" alt="Braquioplastia después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">La piel de esta área tiene varios problemas; es sumamente fina, tiene poca elasticidad y no es precisamente vulnerable al ejercicio. Por tanto, la última alternativa disponible para corregir la flacidez de esta área es la braquioplastía, con la cual se elimina el exceso de piel y de grasa para restaurar la forma del brazo.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">Esta cirugía tiene varias modalidades las cuales se diferencian de acuerdo al tipo de incisión que se realice. La selección del tipo de incisión dependerá de la cantidad del exceso de piel y grasa acumulada que tenga el paciente. Hay que tomar en cuenta que el largo de la incisión es proporcional a la cantidad de piel suelta que haya. Es decir, mientras más piel suelta más larga será la incisión.  </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>La braquioplastía comúnmente se realiza con anestesia general. Durante el procedimiento se retira el exceso de piel usando una disección delicada para evitar lastimar los vasos y nervios del brazo. En los casos que conllevan liposucción, pequeñas cánulas se utilizan para aspirar la grasa.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Braquioplastia</h5>
                            <span class="caption text-muted">Lifting de brazos</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>1500 - <span>$</span>1800</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye el costo del centro quirúrgico y hospedaje los cuales pueden variar de $1500 a $2000 dependendiendo de la clínica de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}