{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Implante de Pantorrilla</title>
{% endblock %}

{% block keywords %}
Implante de pantorrilla, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La cirugía para el implante de pantorrillas es la técnica quirúrgica que permite mejorar la forma de los músculos gemelos de las piernas.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Implante de Pantorrilla">
<meta itemprop="description" content="La cirugía para el implante de pantorrillas es la técnica quirúrgica que permite mejorar la forma de los músculos gemelos de las piernas.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/pantorrillas-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Implante de Pantorrilla">
<meta name="twitter:description" content="La cirugía para el implante de pantorrillas es la técnica quirúrgica que permite mejorar la forma de los músculos gemelos de las piernas.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/pantorrillas-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Implante de Pantorrilla" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/pantorrillas-service01.jpg" />
<meta property="og:description" content="La cirugía para el implante de pantorrillas es la técnica quirúrgica que permite mejorar la forma de los músculos gemelos de las piernas." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Implantes de pantorrillas",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/pantorrillas-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/pantorrillas-service02.jpg"
        ],
        "description": "La cirugía para el implante de pantorrillas es la técnica quirúrgica que permite mejorar la forma de los músculos gemelos de las piernas.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.7",
            "reviewCount": "43"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "1200.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/implante-pantorrillas",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Implante de Pantorrilla</h1>
                <p class="lead text-muted">Aumento de gemelos</p>
                <p class="lead">La cirugía para el implante de pantorrillas es la técnica quirúrgica que permite mejorar la forma de los músculos gemelos de las piernas, mediante la inserción de un implante que se coloca a través del pliegue posterior de la rodilla. Los implantes permiten sumar definición y mejorar sustancialmente la apariencia de las piernas. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/pantorrillas-service01.jpg') }}" class="figure-img rounded" alt="Implante de pantorrillas antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/pantorrillas-service02.jpg') }}" class="figure-img rounded" alt="Implante de pantorrillas después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">El aumento de pantorrillas o aumento de gemelos busca remodelar la figura y obtener una curvatura y volumen en la zona de la pantorrilla que se asemejen a los conseguidos con el ejercicio físico.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">La colocación del implante puede ser de forma submuscular, intramuscular u subfascial, cada una de las cuales ofrece diferentes tipos de aumento.  </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>Las prótesis están disponibles en dos formas: una fusiforme y estrecha o "forma femenina" y otra más ancha en uno de sus lados o "forma masculina". Se puede lograr un buen ajuste en el aumento de la pantorrilla gracias a los distintos tamaños.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Implante de pantorrilla</h5>
                            <span class="caption text-muted">Aumento de gemelos</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>1200 - <span>$</span>1500</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye implantes glúteos, centro quirúrgico y hospedaje los cuales pueden variar de $1000 a $1500 dependendiendo de la clínica y los implantes de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}