{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Lifting facial</title>
{% endblock %}

{% block keywords %}
Lifting facial, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La ritidectomía es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel o ritidosis.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Lifting facial">
<meta itemprop="description" content="La ritidectomía es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel o ritidosis.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/lifting-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Lifting facial">
<meta name="twitter:description" content="La ritidectomía es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel o ritidosis.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/lifting-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Lifting facial" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/lifting-service01.jpg" />
<meta property="og:description" content="La ritidectomía es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel o ritidosis." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Lifting facial",
        "productId": "franklin-363",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/lifting-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/lifting-service02.jpg"
        ],
        "description": "La ritidectomía es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel o ritidosis.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.6",
            "reviewCount": "83"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "2000.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/lifting-facial",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Lifting facial</h1>
                <p class="lead text-muted">Ritidectomía</p>
                <p class="lead">La ritidectomía es un procedimiento de cirugía plástica estética que consiste en la eliminación quirúrgica de arrugas de la piel o ritidosis. La piel de su rostro es estirada y se elimina el exceso de piel para que así su rostro luzca con menos arrugas y se vea más joven, ya que como se sabe la piel con el paso del tiempo envejece, pierde elasticidad, flexibilidad y masa muscular. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/lifting-service01.jpg') }}" class="figure-img rounded" alt="Lifting facial antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/lifting-service02.jpg') }}" class="figure-img rounded" alt="Lifting facial después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">Durante una cirugía de lifting facial los pacientes están anestesiados, ya sea con anestesia general o con anestesia local, aunque por lo general en este tipo de cirugías se utiliza con mayor frecuencia la anestesia local para darle así la posibilidad al paciente de estar más alerta.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">Si bien la cirugía de lifting facial se considera relativamente segura, existen ciertas complicaciones y riesgos inherentes a cualquier procedimiento quirúrgico. </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>Las cicatrices se ubican en lugares distintos dependiendo del tipo de lifting. No obstante, siempre se disimulan en zonas estratégicas como el pliegue de detrás de la oreja o debajo del pelo, por lo que son difícilmente visibles.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Lifting Facial</h5>
                            <span class="caption text-muted">Ritidectomía</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>2000 - <span>$</span>2500</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye centro quirúrgico y hospedaje los cuales pueden variar de $1500 a $2000 dependendiendo de la clínica de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}