{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Mamoplastia reductora</title>
{% endblock %}

{% block keywords %}
Mamoplastia reductora, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La mamoplastia de reducción es una intervención quirúrgica para reducir el tamaño del pecho de la paciente.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Mamoplastia reductora">
<meta itemprop="description" content="La mamoplastia de reducción es una intervención quirúrgica para reducir el tamaño del pecho de la paciente.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/reductora-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Mamoplastia reductora">
<meta name="twitter:description" content="La mamoplastia de reducción es una intervención quirúrgica para reducir el tamaño del pecho de la paciente.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/reductora-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Mamoplastia reductora" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/reductora-service01.jpg" />
<meta property="og:description" content="La mamoplastia de reducción es una intervención quirúrgica para reducir el tamaño del pecho de la paciente." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Mamoplastia reductora",
        "productId": "franklin-366",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/reductora-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/reductora-service02.jpg"
        ],
        "description": "La mamoplastia de reducción es una intervención quirúrgica para reducir el tamaño del pecho de la paciente.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.8",
            "reviewCount": "98"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "1800.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/mamoplastia-reductora",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Mamoplastia Reductora</h1>
                <p class="lead text-muted">Reducción mamaria</p>
                <p class="lead">La mamoplastia de reducción es una intervención quirúrgica para reducir el tamaño del pecho de la paciente, el cual, en la mayoría de los casos, presenta un volumen excesivamente grande en relación al resto cuerpo. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/reductora-service01.jpg') }}" class="figure-img rounded" alt="Mamoplastia reductora antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/reductora-service02.jpg') }}" class="figure-img rounded" alt="Mamoplastia reductora después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">En esta intervención quirúrgica además de reducir el tamaño de los pechos, hay que recolocar la glándula mamaria en su posición correcta consiguiendo la simetría entre ambas mamas. También se reduce el tamaño de la areola para que este proporcionada con el nuevo volumen del pecho.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">Debe tener muy claro el volumen que desea en sus senos y la presencia de sus cicatrices. Debe tener claro que la reducción de tamaño se ve limitada por el riesgo de alterar la irrigación del pezón.  </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>El resultado puede ser percibido en los primeros 30 días, sin embargo, las mamas llegan a su aspecto definitivo en 6 a 12 meses, en cuanto a las cicatrices, forma y volumen, consistencia y sensibilidad.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Mamoplastia Reductora</h5>
                            <span class="caption text-muted">Reducción mamaria</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>1800 - <span>$</span>2200</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye el costo del centro quirúrgico y hospedaje los cuales pueden variar de $1500 a $2000 dependendiendo de la clínica de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}