{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Mastopexía</title>
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Mastopexía">
<meta itemprop="description" content="La mastopexia puede ser descrita como aquel procedimiento de tipo quirúrgico que consiste en el levantamiento de las mamas caídas.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/mastopexia-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Mastopexía">
<meta name="twitter:description" content="La mastopexia puede ser descrita como aquel procedimiento de tipo quirúrgico que consiste en el levantamiento de las mamas caídas.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/mastopexia-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Mastopexía" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/mastopexia-service01.jpg" />
<meta property="og:description" content="La mastopexia puede ser descrita como aquel procedimiento de tipo quirúrgico que consiste en el levantamiento de las mamas caídas." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Mastopexía",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/mastopexia-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/mastopexia-service02.jpg"
        ],
        "description": "La mastopexia puede ser descrita como aquel procedimiento de tipo quirúrgico que consiste en el levantamiento de las mamas caídas.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "reviewCount": "298"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "1800.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/mastopexia",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Mastopexía</h1>
                <p class="lead text-muted">Lifting mamario</p>
                <p class="lead">La mastopexia puede ser descrita como aquel procedimiento de tipo quirúrgico que consiste en el levantamiento de las mamas caídas. La mastopexia también conocida como lifting de senos, recurre a la eliminación de la piel excedente de la zona mamaria además del endurecimiento de los tejidos adyacentes para así lograr reformar, reafirmar y elevar el contorno del seno femenino. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/mastopexia-service01.jpg') }}" class="figure-img rounded" alt="Mastopexia antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/mastopexia-service02.jpg') }}" class="figure-img rounded" alt="Mastopexia después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">La corrección de mama mediante el aumento o elevación de un busto con flacidez es una operación quirúrgica de recortes y eliminación del exceso de tejidos, ligamentos suspensorios sobrecargados, exceso de piel, y transpone el complejo areola-pezón más alta del hemisferio del pecho.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">El seno femenino está sujeto a diversas transformaciones, ya sean debido a factores genéticos, al aumento de mamas debido a embarazos, a la lactancia, a una pérdida de peso, a factores hormonales o simplemente al paso de los años. Estos factores son condiciones que confieren que la mama pierda su aspecto y se vuelvan flácidas, llegando a tener un aspecto de mamas caídas o senos vacíos.  </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>Las cicatrices dependerán fundamentalmente de la forma y caída del pecho antes de la intervención. Algunas pacientes solo necesitarán una pequeña incisión alrededor de la areola, mientras que otras pueden requerir más incisiones, para eliminar el exceso de piel y mejorar la forma mamaria.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Mastopexía</h5>
                            <span class="caption text-muted">Lifting mamario</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>1800 - <span>$</span>2200</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye el costo del centro quirúrgico y hospedaje los cuales pueden variar de $1500 a $2000 dependendiendo de la clínica de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}