{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Mentoplastia</title>
{% endblock %}

{% block keywords %}
Mentoplastia, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La mentoplastia es un procedimiento quirúrgico que busca mediante diversos medios lograr un aumento en la proyección del mentón.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Mentoplastia">
<meta itemprop="description" content="La mentoplastia es un procedimiento quirúrgico que busca mediante diversos medios lograr un aumento en la proyección del mentón.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/mentoplastia-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Mentoplastia">
<meta name="twitter:description" content="La mentoplastia es un procedimiento quirúrgico que busca mediante diversos medios lograr un aumento en la proyección del mentón.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/mentoplastia-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Mentoplastia" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/mentoplastia-service01.jpg" />
<meta property="og:description" content="La mentoplastia es un procedimiento quirúrgico que busca mediante diversos medios lograr un aumento en la proyección del mentón." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Mentoplastia",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/mentoplastia-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/mentoplastia-service02.jpg"
        ],
        "description": "La mentoplastia es un procedimiento quirúrgico que busca mediante diversos medios lograr un aumento en la proyección del mentón.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.4",
            "reviewCount": "42"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "400.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/mentoplastia",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Mentoplastia</h1>
                <p class="lead text-muted">Cirugía plástica del mentón</p>
                <p class="lead">La mentoplastia es un procedimiento quirúrgico que busca mediante diversos medios lograr un aumento en la proyección del mentón. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/mentoplastia-service01.jpg') }}" class="figure-img rounded" alt="Mentoplastia antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/mentoplastia-service02.jpg') }}" class="figure-img rounded" alt="Mentoplastia después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">El aumento del mentón se realiza mediante implantes sólidos o líquidos que aumentan la proyección del mentón e incrementan la armonía del rostro.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">La disminución del mentón se realiza directamente sobre el hueso, consiste en hacer mediante un abordaje intraoral un corte en la mandíbula por debajo de las raíces de los dientes, con el fin de avanzar el mentón, que es fijado posteriormente con material de osteosíntesis en la posición planificada previamente. </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>La presencia de una barbilla demasiado retraída (hipomentonismo) o excesivamente prominente (hipermentonismo), respecto al resto de la cara. Sin embargo, la decisión final vendrá determinada por un estudio individualizado de cada paciente, según su estructura facial y el grado de afectación generada.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Mentoplastia</h5>
                            <span class="caption text-muted">Cirugía plástica del mentón</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>400 - <span>$</span>600</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Materiales e insumos médicos</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *Es un procedimiento ambulatorio, no se requiere centro quirúrgico por lo tanto no se añade ningún valor adicional.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}