{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Microinjerto capilar</title>
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Microinjerto capilar">
<meta itemprop="description" content="El microinjerto capilar es una intervención quirúrgica que en recuperar el pelo perdido a través de un auto trasplante, se puede aplicar tanto a hombres como a mujeres.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/microinjerto-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Microinjerto capilar">
<meta name="twitter:description" content="El microinjerto capilar es una intervención quirúrgica que en recuperar el pelo perdido a través de un auto trasplante, se puede aplicar tanto a hombres como a mujeres.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/microinjerto-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Microinjerto capilar" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/microinjerto-service01.jpg" />
<meta property="og:description" content="El microinjerto capilar es una intervención quirúrgica que en recuperar el pelo perdido a través de un auto trasplante, se puede aplicar tanto a hombres como a mujeres." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Microinjerto capilar",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/microinjerto-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/microinjerto-service02.jpg"
        ],
        "description": "El microinjerto capilar es una intervención quirúrgica que en recuperar el pelo perdido a través de un auto trasplante, se puede aplicar tanto a hombres como a mujeres.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "reviewCount": "126"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "2000.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/microinjerto-capilar",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Microinjerto capilar</h1>
                <p class="lead text-muted">Auto-transplante capilar</p>
                <p class="lead">El microinjerto capilar es una intervención quirúrgica que en recuperar el pelo perdido a través de un auto trasplante, se puede aplicar tanto a hombres como a mujeres.</p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/microinjerto-service01.jpg') }}" class="figure-img rounded" alt="Transplante capilar antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/microinjerto-service02.jpg') }}" class="figure-img rounded" alt="Transplante capilar después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">La pérdida del cabello en hombres y mujeres es un problema estético y emocional severo. En el caso de la alopecia andro-genética o calvicie típica masculina implica verse de mayor edad y con la pérdida de la proporción facial.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">El éxito del procedimiento corresponde al 50% de la cirugía hecha por el cirujano, mientas que el otro 50% conlleva a una fase postoperatoria, en la que son influyentes varios factores como la alimentación, champús, lociones capilares, etc.  </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>El trasplante de cabello puede producir resultados visualmente sorprendentes; sin embargo, esto depende de una buena zona donadora, de la sensibilidad artística del cirujano, de un equipo experimentado en el manejo de tejidos pequeños y por supuesto de la infraestructura adecuada.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Microinjerto capilar</h5>
                            <span class="caption text-muted">Auto-transplante capilar</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>2000 - <span>$</span>2500</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye el costo del centro quirúrgico y hospedaje los cuales pueden variar de $1500 a $2000 dependendiendo de la clínica de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}