{% extends 'PortadaBundle:Default:index.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Trasero Brasilero</title>
{% endblock %}

{% block keywords %}
Trasero Brasilero, Dr. Franklin Alvear, Cirujano Plástico, Quito
{% endblock %}

{% block description %}
La lipoinyección glútea es una cirugía plástica que no solo remodela y aumenta el tamaño de los glúteos sino que también ayuda a eliminar tejido graso de otras partes del cuerpo.
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Trasero Brasilero">
<meta itemprop="description" content="La lipoinyección glútea es una cirugía plástica que no solo remodela y aumenta el tamaño de los glúteos sino que también ayuda a eliminar tejido graso de otras partes del cuerpo.">
<meta itemprop="image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/trasero-service01.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="Trasero Brasilero">
<meta name="twitter:description" content="La lipoinyección glútea es una cirugía plástica que no solo remodela y aumenta el tamaño de los glúteos sino que también ayuda a eliminar tejido graso de otras partes del cuerpo.">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/trasero-service01.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Trasero Brasilero" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="https://franklinalvear.com/bundles/portada/img/photos/doctor/trasero-service01.jpg" />
<meta property="og:description" content="La lipoinyección glútea es una cirugía plástica que no solo remodela y aumenta el tamaño de los glúteos sino que también ayuda a eliminar tejido graso de otras partes del cuerpo." />
<meta property="og:site_name" content="franlkinalvear" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Brazilian butt lift",
        "mpn": "franklin-374",
        "image": [
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/trasero-service01.jpg",
            "https://franklinalvear.com/bundles/portada/img/photos/doctor/trasero-service02.jpg"
        ],
        "description": "La lipoinyección glútea es una cirugía plástica que no solo remodela y aumenta el tamaño de los glúteos sino que también ayuda a eliminar tejido graso de otras partes del cuerpo.",
        "brand": [{
            "@type": "Thing",
            "name": "Franklin Alvear",
            "description": "Franklin Alvear Cirujano Plástico y Estético",
            "url": "https://franklinalvear.com",
            "image": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png"
        }],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "reviewCount": "269"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "1200.00",
            "priceValidUntil": "2018-06-30",
            "availability": "https://franklinalvear.com/trasero-brasilero",
            "seller": {
                "@type": "Organization",
                "name": "Franklin Alvear",
                "url": "https://franklinalvear.com",
                "logo": "https://franklinalvear.com/bundles/portada/img/franklin_icon.png",
                "email": "franklin@hospi.me"
            }
        }
    }
</script>
{% endblock %}

{% block bodyclass %}
<body class="navigation-panel page-scrolling">
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{ asset('bundles/portada/img/photos/doctor/project-cover.jpg') }}" alt="Franklin Alvear cirujano plástico">
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section light" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container-slim">
                <h1 class=" display-4 mb-0">Trasero brasilero</h1>
                <p class="lead text-muted">Gluteoplastia de aumento - Lipoinjerto</p>
                <p class="lead">La lipoinyección glútea es una cirugía plástica que no solo remodela y aumenta el tamaño de los glúteos sino que también ayuda a eliminar tejido graso de otras partes del cuerpo. Este método es uno de los más utilizados para el aumento de gluteos alrededor del mundo. </p>
            </div>
            <!-- Image -->
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/trasero-service01.jpg') }}" class="figure-img rounded" alt="Brazilian butt lift antes">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img src="{{ asset('bundles/portada/img/photos/doctor/trasero-service02.jpg') }}" class="figure-img rounded" alt="Btrazilian butt lift después">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="container-slim">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-sm-0">La remodelación del contorno tiene una limitación en cuanto a la proyección que puede alcanzarse, por lo que debe estudiarse cada caso en particular, conociendo exactamente cuál es el deseo de cada paciente.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-sm-0">En este contexto de remodelación del contorno preferimos tratar áreas en vecindad, como el muslo o la espalda para conseguir un resultado más satisfactorio, un efecto visual más notorio, constituyéndose este procedimiento como un verdadero acto de escultura del tejido vivo.  </p>
                    </div>
                </div>
                <hr class="hr-lg">
                <p>Después de la liposucción la grasa obtenida es preparada minuciosamente quedando únicamente el contenido de tejido graso que se va a injertar. Hay que considerar que un pequeño y variable porcentaje de las células de este tejido no van a sobrevivir al trasplante, por lo que no todo el volumen injertado será definitivo.</p>
            </div>
        </div>

    </section>

    <!-- Section - Pricing -->
    <section id="pricing" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <span class="section-header-indicator"></span>
                    <div class="section-header-content"><span class="typing">Precios</span></div>
                </div>
                <div class="row no-gutters">
                    <!-- Pricing Table -->
                    <div class="pricing-table featured col-md-6 mx-auto">
                        <div class="pricing-table-header">
                            <h5 class="title">Trasero brasilero</h5>
                            <span class="caption text-muted">Gluteoplastia de aumento - Lipoinjerto</span>
                        </div>
                        <div class="pricing-table-price">
                            <span class="price"><span>$</span>1200 - <span>$</span>1500</span>
                        </div>
                        <ul class="pricing-table-list">
                            <li>Honorarios del cirujano</li>
                            <li>Honorarios de los ayudantes</li>
                            <li>Honorarios del anestesiólogo</li>
                        </ul>
                        <div class="pricing-table-price">
                            <span class="caption text-muted">
                            *El precio no incluye centro quirúrgico y hospedaje los cuales pueden variar de $1000 a $1500 dependendiendo de la clínica de elección.</span>
                        </div>
                        <div class="pricing-table-submit" data-local-scroll>
                            <a href="{{ path('portada_homepage') }}#schedule" class="btn btn-primary-animated btn-block">{{"portada.agendar_cita"|trans}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}