{% extends '::main.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | Blogs</title>
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="{{path('portada_homepage')}}#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{ path('blog_homepage') }}" class="nav-link">{{"blog.blogtitle"|trans}}</a></li>
            <li class="nav-item"><a href="{{path('portada_homepage')}}#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content">

    <!-- Section - Intro -->
    <section id="intro" class="section h-md dark bg-dark" data-scheme="dark">

        <!-- BG Image -->
        <div class="bg-image-container"><img src="{{ asset('bundles/portada/img/photos/blog.png') }}" alt=""></div>
    
        <!-- Section Content -->
        <div class="section-content pos-v-center" data-local-scroll>
            <div class="container">

                <div class="row text-center">
                    <div class="col-md-6 push-md-3">
                        <h6 class="mb-2">{{"blog.franklin_alvear"|trans}}</h6>
                        <hr class="sep-oval">
                        <h1><span class="typing">{{"blog.bienvenido_a_mi"|trans}} <strong>{{"blog.blogtitle"|trans}}</strong></span></h1>
                        <a href="{{ path('usuarios_newsletter') }}" class="btn btn-primary">{{"blog.suscribirse"|trans}}</a>
                        <a href="#blog" class="btn btn-link btn-lg">{{"blog.continuar"|trans}}</a>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- Section - Blog -->
    <section id="blog" class="section" data-scheme="light">
    
        <!-- Section Content -->
        <div class="section-content">
            <div class="container">
                <!-- Section Header -->
                <div class="section-header">
                    <img src="{{ asset('bundles/portada/img/photos/doctor/avatar-sm.png') }}" alt="" class="section-header-image">
                    <div class="section-header-content">
                        <span class="typing">¿Qué te gustaría ver hoy?</span>
                        <!-- Filter - Isotope -->
                        <ul class="nav nav-pills filter show-after-typing" data-filter-list="#posts-list">
                            <li class="nav-item"><a href="#" class="nav-link active" data-filter="*">Todo</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" data-filter=".Plástica">Plástica</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" data-filter=".Información">Información</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" data-filter=".Tendencias">Tendencias</a></li>
                            <li class="nav-item"><a href="#" class="nav-link" data-filter=".Otros">Otros</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Filter List -->
                <div id="posts-list" class="row masonry filter-list">
                    <div class="masonry-sizer col-xl-4 col-sm-6 col-12"></div>
                    {% for blog in blogs %}
                    {% if blog.type == "video" %}
                    <div class="masonry-item col-xl-4 col-sm-6 col-12 {{blog.tag|title}}">
                        <!-- Post - Item -->
                        <article class="post item">
                            <div class="post-image">
                                <a href="#"><img src="{{ asset('uploads/posts/cover/' ~ blog.cover) }}" alt="{{blog.altCover}}"></a>
                                <button class="btn-play" data-toggle="video-modal" data-target="#modalVideo" data-video="{{blog.youtubeVideoLink}}"></button>
                            </div>
                            <div class="post-content">
                                <h4 class="post-title"><a href="#">{{blog.title}}</a></h4>
                                <ul class="post-meta">
                                    <li><a href="#">{{blog.fechaCreacion|date('F')|mes(app.request.locale)}}  {{blog.fechaCreacion|date(' d, \\ Y')}}</a></li>
                                    <li><a href="#">{{blog.tag|title}}</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    {% endif %}
                    {% if blog.type == "default" %}
                    <div class="masonry-item col-xl-4 col-sm-6 col-12 {{blog.tag|title}}">
                        <!-- Post - Item -->
                        <article class="post item">
                            <div class="post-image">
                                <a href="{{ path('blog_view', {'slug': blog.slug}) }}"><img src="{{ asset('uploads/posts/cover/' ~ blog.cover) }}" alt="{{blog.altCover}}"></a>
                            </div>
                            <div class="post-content">
                                <h4 class="post-title"><a href="{{ path('blog_view', {'slug': blog.slug}) }}">{{blog.title}}</a></h4>
                                <ul class="post-meta">
                                    <li><a href="#">{{blog.fechaCreacion|date('F')|mes(app.request.locale)}}  {{blog.fechaCreacion|date(' d, \\ Y')}}</a></li>
                                    <li><a href="#">{{blog.tag|title}}</a></li>
                                </ul>
                                <p>{{blog.description}}</p>
                            </div>
                        </article>
                    </div>
                    {% endif %}
                    {% if blog.type == "image" %}
                    <div class="masonry-item col-xl-4 col-sm-6 col-12 {{blog.tag|title}}">
                        <!-- Post - Item -->
                        <article class="post item">
                            <div class="post-image">
                                <a href="{{ path('blog_view', {'slug': blog.slug}) }}"><img src="{{ asset('uploads/posts/cover/' ~ blog.cover) }}" alt="{{blog.altCover}}"></a>
                            </div>
                            <div class="post-content">
                                <h4 class="post-title"><a href="{{ path('blog_view', {'slug': blog.slug}) }}">{{blog.title}}</a></h4>
                                <ul class="post-meta">
                                    <li><a href="#">{{blog.fechaCreacion|date('F')|mes(app.request.locale)}}  {{blog.fechaCreacion|date(' d, \\ Y')}}</a></li>
                                    <li><a href="#">{{blog.tag|title}}</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    {% endif %}
                    {% if blog.type == "quote" %}
                    <div class="masonry-item col-xl-4 col-sm-6 col-12 {{blog.tag|title}}">
                        <!-- Blockquote -->
                        <blockquote class="blockquote bg-dark dark">
                            <div class="bg-image-container"><img src="{{ asset('uploads/posts/cover/' ~ blog.cover) }}" alt="{{blog.altCover}}"></div>
                            {{blog.text|raw}}
                            <footer class="text-muted"><span class="name">{{blog.appendText}}</span></footer>
                        </blockquote>
                    </div>
                    {% endif %}
                    {% if blog.type == "text" %}
                    <div class="masonry-item col-xl-4 col-sm-6 col-12 {{blog.tag|title}}">
                        <!-- Post - Item -->
                        <article class="post item">
                            <div class="post-content">
                                <h4 class="post-title"><a href="{{ path('blog_view', {'slug': blog.slug}) }}">{{blog.title}}</a></h4>
                                <ul class="post-meta">
                                    <li><a href="#">{{blog.fechaCreacion|date('F')|mes(app.request.locale)}}  {{blog.fechaCreacion|date(' d, \\ Y')}}</a></li>
                                    <li><a href="#">{{blog.tag|title}}</a></li>
                                </ul>
                                <p>{{blog.description}}</p>
                            </div>
                        </article>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Pagerfanta -->
                {% set anterior = "portada.blogs.anterior"|trans %}
                {% set siguiente = "portada.blogs.siguiente"|trans %}
                {% if pager is not null and pager.haveToPaginate %}
                    <ul class="pagination justify-content-center">
                        {{ pagerfanta(pager, 'twitter_bootstrap4', {
                            'proximity': 2,
                            'routeName': 'blog_homepage_paginated',
                            'routeParams': app.request.query.all,
                            'prev_message': '<i class="ti-angle-left"></i>',
                            'next_message': '<i class="ti-angle-right"></i>'
                        }) }}
                    </ul>
                {% endif %}
                <!-- /Pagerfanta -->
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}

{% block message %}{% endblock %}