{% extends '::main.html.twig' %}

{% block title %}
<!-- Title -->
<title>Dr. Franklin Alvear | {#{servicio.title}#}</title>
{% endblock %}

{% block keywords %}
    {#{servicio.keywords}#}
{% endblock %}

{% block description %}
    {#{servicio.description}#}
{% endblock %}

{% block hreflang %}
<!-- hreflang tag -->
<link rel="alternate" href="https://franklinalvear.com/es/blogs/view/{{blog.slugEs}}" hreflang="es" />
<link rel="alternate" href="https://franklinalvear.com/pt/blogs/view/{{blog.slugPt}}" hreflang="pt" />
<link rel="alternate" href="https://franklinalvear.com/en/blogs/view/{{blog.slugEn}}" hreflang="en" />
<link rel="alternate" href="https://franklinalvear.com/it/blogs/view/{{blog.slugIt}}" hreflang="it" />
{% endblock %}

{% block opengraph %}
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{blog.title}}">
<meta itemprop="description" content="{{blog.description}}">
<meta itemprop="image" content="{{blog.imageUrlCover}}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dr_franklear">
<meta name="twitter:title" content="{{blog.title}}">
<meta name="twitter:description" content="{{blog.description}}">
<meta name="twitter:creator" content="@dr_franklear">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{blog.imageUrlCover}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{blog.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="{{blog.imageUrlCover}}" />
<meta property="og:description" content="{{blog.description}}" />
<meta property="og:locale" content="es">
<meta property="og:locale:alternate" content="en" />
<meta property="og:locale:alternate" content="pt" />
<meta property="og:locale:alternate" content="it" />
<meta property="og:site_name" content="Dr. Franklin Alvear | Cirujano Plástico" />
<meta property="fb:app_id" content="1522670851135903" />
{% endblock %}

{% block snippets %}
<!-- rich snippets -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ app.request.uri }}"
        },
        "headline": "{{blog.title}}",
        "image": [
            "{{blog.imageUrlCover}}",
            "{{blog.imageUrlOne}}",
            "{{blog.imageUrlTwo}}",
            "{{blog.imageUrlThree}}",
            "{{blog.imageUrlFour}}"
        ],
        "datePublished": "{{blog.fechaCreacion|date('Y-m-d')}}",
        "dateModified": "{{blog.fechaCreacion|date('Y-m-d')}}",
        "author": {
            "@type": "Person",
            "name": "Franklin Alvear",
            "jobTitle": "Cirujano Plástico",
            "telephone": "(593)0990459900",
            "url": "http://franklinalvear.com",
            "email": "franklin@hospi.me",
            "memberOf": [{
                "@type": "Thing",
                "name": "Sociedade Brasileira de Cirurgía Plástica e Estética",
                "description": "Sociedad Científica Brasilera",
                "url": "http://www.sbmcpe.com.br/",
                "image": "http://www.sbmcpe.com.br/wp-content/uploads/2016/09/15-anos-sbmcpe-peq.png"
            }]
        },
        "publisher": {
            "@type": "Organization",
            "name": "Franklin Alvear",
            "logo": {
                "@type": "ImageObject",
                "url": "https://franklinalvear.com/bundles/portada/img/photos/doctor/avatar.png"
            }
        },
        "description": "{{blog.description}}"
    }
</script>
{% endblock %}

{% block navigation %}
<!-- Navigation -->
<nav id="navigation" class="navigation-panel light">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="#start" class="nav-link">{{"portada.inicio"|trans}}</a></li>
            <li class="nav-item"><a href="#resume" class="nav-link">{{"portada.extracto"|trans}}</a></li>
            <li class="nav-item"><a href="#services" class="nav-link">{{"portada.cirugias_procedimientos"|trans}}</a></li>
            <li class="nav-item"><a href="#schedule" class="nav-link">{{"portada.agenda"|trans}}</a></li>
            <li class="nav-item"><a href="#case-studies" class="nav-link">{{"portada.casos"|trans}}</a></li>
            <li class="nav-item"><a href="{{ path('blog_homepage') }}" class="nav-link">{{"blog.blogtitle"|trans}}</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">{{"portada.contacto"|trans}}</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content" data-scheme="light">
    
    <!-- Section - Image -->
    <section class="section section-case-study-header text-center light bg-light" data-scheme="light">
        <!-- BG Image -->
        <div class="bg-image-container overlay-bottom light">
            <img src="{{blog.imageUrlOne}}" alt="{{blog.imageAltOne}}">
        </div>
        <div class="section-content">
            <div class="container-slim">
                <!-- Image Box -->
                <figure class="image-box shadow animated" data-animation="fadeIn">
                    <div class="image">
                        <img src="{{blog.imageUrlTwo}}" alt="{{blog.imageAltTwo}}">
                        <!--button class="btn-play" data-toggle="video-modal" data-target="#modalVideo" data-video="https://www.youtube.com/embed/uVju5--RqtY"></button-->
                    </div>
                </figure>
            </div>
        </div>
    </section>

    <!-- Section - Description -->
    <section class="section bg-light light pt-0" data-scheme="light">
    
        <!-- Section Content -->
        <div class="post-content section-content">
            <div class="container-slim">
                <br><br><br>
                <h1 class="display-4 mb-0">{{blog.title}}</h1>
                <p class="date text-muted">{{blog.fechaCreacion|date('d\\ F \\ Y')}}</p>

                {#% block hide %}
                <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <!--hr class="hr-lg"-->
                <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <figure>
                    <img src="{{ asset('bundles/portada/img/posts/project02.jpg') }}" class="figure-img rounded" alt="">
                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                </figure>
                <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                {% endblock %#}
                {{blog.text|raw}}


                <br><br>
                <div id="disqus_thread"></div>
            </div>

            
        </div>

    </section>

</div>
<!-- Content / End -->
{% endblock %}

{% block message %}{% endblock %}

{% block script %}
{{ parent() }}
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://franklinalvear.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
$(function(){
    $('p').addClass('lead');
});
</script>
{% endblock %}

