<style type="text/css">
	.parsley-error-list {
		display: none !important;
	}
</style>
<section class="tile color transparent-black">
	<div class="tile-body">
		<form parsley-validate action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-horizontal" novalidate>
			{% set password = 'form.new_password'|trans({}, 'FOSUserBundle') %}
    		{% set password_confirmation = 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') %}
			<div class="input-group">
		    	{{ form_widget(form.new['first'], { 'attr': {'class': 'form-control', 'parsley-required': 'true', 'parsley-error-message': 'Escriba un nombre de usuario', 'placeholder': password} }) }}
		    	<div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
		    </div>
		    <div class="input-group">
		    	{{ form_widget(form.new['second'], {'attr': {'class': 'form-control', 'parsley-required': 'true', 'data-equalto': '#fos_user_registration_form_plainPassword_first', 'parsley-error-message': 'La contraseña debe coincidir', 'placeholder': password_confirmation}}) }}
    	        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
		    </div>
		    <div style="display: none;">{{ form_rest(form) }}</div>
		    <div class="form-group">
			    <div>
			        <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
			    </div>
			</div>
		</form>
	</div>
</section>
<script src="{{ asset('bundles/portada/assets/js/vendor/parsley/parsley.min.js') }}"></script>