<style type="text/css">
	.parsley-error-list {
		display: none !important;
	}
</style>
<form parsley-validate action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" novalidate>
    <div id="fos_user_change_password_form">
    	<div class="input-group">
    		{{form_widget(form.current_password, { 'attr': {'class': 'form-control parsley-error', 'parsley-required': 'true', 'parsley-error-message': 'Ingrese su contraseña actual', 'placeholder': 'form.current_password'|trans({}, 'FOSUserBundle')} }) }}
    		<div class="input-group-addon"><i class="fa fa-unlock"></i></div>
    	</div>
    	{% set password = 'form.new_password'|trans({}, 'FOSUserBundle') %}
    	{% set password_confirmation = 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') %}
    	{% for child in form.new %}
    	    {% if loop.first %}
    	    <div class="input-group">
    			{{ form_widget(child, {'attr': {'class': 'form-control', 'parsley-required': 'true', 'data-equalto': '#fos_user_registration_form_plainPassword_second', 'parsley-error-message': 'Ingrese una contraseña', 'placeholder': password}}) }}
    	        <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
    	    </div>
    	    {% elseif loop.last %}
    	    <div class="input-group">
    	        {{ form_widget(child, {'attr': {'class': 'form-control', 'parsley-required': 'true', 'data-equalto': '#fos_user_registration_form_plainPassword_first', 'parsley-error-message': 'La contraseña debe coincidir', 'placeholder': password_confirmation}}) }}
    	        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
    	    </div><br>
    	    {% endif %}
    	{% endfor %}
    	<div style="display: none;">{{ form_rest(form) }}</div>
    </div>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
<script src="{{ asset('bundles/portada/assets/js/vendor/parsley/parsley.min.js') }}"></script>
