<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="post" class="login100-form validate-form flex-sb flex-w">

    <span class="txt1 p-b-11">
        Contrase単a actual
    </span>
    <div class="wrap-input100 validate-input m-b-36" data-validate = "Password is required">
        <span class="btn-show-pass">
            <i class="fa fa-eye"></i>
        </span>
        {{form_widget(form.current_password, { 'attr': {'class': 'input100', 'placeholder': 'form.current_password'|trans({}, 'FOSUserBundle')} }) }}
        <span class="focus-input100"></span>
    </div>
    
    <span class="txt1 p-b-11">
        Contrase単a nueva
    </span>

    {% for child in form.new %}
        {% if loop.first %}
        <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
            <span class="btn-show-pass">
                <i class="fa fa-eye"></i>
            </span>
            {{ form_widget(child, {'attr': {'class': 'input100', 'data-equalto': '#fos_user_registration_form_plainPassword_first', 'placeholder': 'Nueva contrase単a', 'required': 'required'}}) }}
            <span class="focus-input100"></span>
        </div>

        {% elseif loop.last %}
        <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
            <span class="btn-show-pass">
                <i class="fa fa-eye"></i>
            </span>
            {{ form_widget(child, {'attr': {'class': 'input100', 'data-equalto': '#fos_user_registration_form_plainPassword_second', 'placeholder': 'Confirmar contrase単a', 'required': 'required'}}) }}
            <span class="focus-input100"></span>
        </div>
        {% endif %}
    {% endfor %}

    <div style="display: none;">{{ form_rest(form) }}</div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" id="_submit" name="_submit">
            {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
        </button>
    </div>
</form>